.caret {
  float: right;
  color: #b3b3b3;
  i{
    color:#fff;
    font-size: .5rem;
    line-height: 2;
    vertical-align: middle;
    padding-left: .5rem;
  }
}

.product {
  padding: .5rem 2rem .5rem 2rem;
  font-weight: 600;
  position: relative;
}
