.sidebar {
  background-color: $dark;
  min-height: 100vh;
  padding-top: 20rem;
}

.product {
  color: #fff;
  cursor: pointer;
}

.static {
  width:250px;
  max-width: 250px;
  flex:none;
  margin-left: -15px;
}
